BOILERPLATE DATABASE_URL=postgresql://USERNAME:PASSWORD@HOST:PORT/DB_NAME
BOILERPLATE JWT_ACCESS_SECRET=98b93320d9ff70ae4d47cbaf0a187b65b7d2538e1a8d4d5f13b70f0fc92b20b5
BOILERPLATE JWT_REFRESH_SECRET=4d9cd406acccb3bd81a6f50d7f278c402e487024e4be097985de8710bc6da575
BOILERPLATE JWT_ACCESS_EXPIRES_IN=30m
BOILERPLATE JWT_REFRESH_EXPIRES_IN=7d
BOILERPLATE AUTH_COOKIE_SAME_SITE=lax
BOILERPLATE PORT=3000
