DATABASE_URL=postgresql://USERNAME:PASSWORD@HOST:PORT/DB_NAME
JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_ACCESS_EXPIRES_IN=30m
JWT_REFRESH_EXPIRES_IN=7d
AUTH_COOKIE_SAME_SITE=lax
PORT=3000
